<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head></head><a href="/">メニュー</a>
<a href="/about/">野球</a>
	<body>
		<h1>プロ野球</h1>
        <p>プロ野球についての情報がここに表示されます。</p>